//*****************************************************
//*   Variables
//*****************************************************

// Colors

$primary-color:#272727;
$secondary-color:#5daf64;
$hover-color:rgb(83, 88, 63);
$text-color:#fff;

//font

$font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

//path
$pathname1: "../img/luke-skywalker-fortnite-datamine-leak.jpg";
$pathname2: "../img/server-1235959_1280.jpg";
$pathname3: "../img/source-4280758_1280.jpg";
$pathname4: "../img/binary-code-475664_1280.jpg";
$pathname5: "../img/artificial-intelligence-3382507_1280.jpg";